version: "3.8"

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - micro-net

  sessions-service:
  
    image: sessions-service:latest
    container_name: sessions-service
    env_file:
      - ./sessions-service/.env
    ports:
      - "3003:3003"
    depends_on:
      - rabbitmq
    networks:
      - micro-net

  notifications-service:
    image: notifications-service:latest
    container_name: notifications-service
    env_file:
      - ./notifications-service/.env
    depends_on:
      - rabbitmq
    networks:
      - micro-net

networks:
  micro-net:
    driver: bridge
