services:
  mysql:
    image: mysql:8
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: sessions_db
      MYSQL_USER: mperfeito.08
      MYSQL_PASSWORD: Mperfeito_08
    networks:
      - micro-net

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - micro-net

  sessions-service:
    build: ./sessions-service
    container_name: sessions-service
    env_file:
      - ./sessions-service/.env
    depends_on:
      - mysql
      - rabbitmq
    networks:
      - micro-net

  notifications-service:
    build: ./notifications-service
    container_name: notifications-service
    env_file:
      - ./notifications-service/.env
    depends_on:
      - rabbitmq
    networks:
      - micro-net

networks:
  micro-net:
    driver: bridge
